.container-form {
    display: flex;
    margin: 2% 0;
}

.container-input {
    width: 70%;
    margin: 0 5% 0 0;
}

.container-btn {
    max-width: 30%;
}

.row-file {
    margin: 2% 0 2% 0;
}