ul li {
  color: #000;
}

.menu > li > a {
  cursor: pointer;
  display: block;
  text-align: left;
  font-size: 0.7em;
}

.menu li a:hover {
  cursor: pointer;
  color: #ffff;
}

.icon {
  margin: 0 5% 0;
}

