.bg-col-right {
  background-color: #FFFF;
}

.payment-logo {
  display: flex;
  width: 100%;
  margin-top: 15%
}

.label-title {
  font-size: 28px;
  margin-top: 5%;
}

.label-title-left {
  margin-top: 15%;
}

.button-payment {
  width: 50%;
}

.content-button-payment {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.layer-bg {
  z-index: 2;
  background-color: #000;
  height: 100vh;
  width: 100%;
  min-height: 0px;
  max-height: none;
  max-width: 49.5%;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  opacity: 0.5;
  visibility: visible;
  position: absolute;
  display: flex;
  margin: 0
}

.title {
  font-size: 25px;
  padding-top: 30px;
}

.bg-left {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-image: url('../../assets/img/medical-05.jpg');
  height: 100vh;
  display: flex;
  padding: 0;
}