.nav-desktop {
  position: fixed;
  width: 100%;
  z-index: 9999;
  margin: 0;
  padding: 0;
  transition-duration: 2400ms;
}

.title-nav {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  margin: 0 20px 0 0;
}

.active-scroll {
  background-color: #2b5797;
  transition-duration: 1.2s;
  transition-timing-function: ease-in-out;
}

.logo {
  width: 7%;
}

.logo-mobile {
  width: 20%;
}

.navbar-mobile {
  text-align: center;
}

.row-button {
  display: flex;
  justify-content: center;
}

.content {
  padding-top: 5px;
}

@media only screen and (max-width: 800px) {
  .img-bg {
    background-image: url("../../../assets/img/medical-08.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media only screen and (min-width: 800px) {
  .img-bg {
    background-image: url("../../../assets/img/medical-08.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 82vh;
    background-color: rgba(0, 0, 0, 0.25);
  }
}