.content {
  margin: 2.5% 0;
  text-align: center;
}

.content .content-title {
  font-size: 3.5em;
  text-transform: uppercase;
}

.content-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2%;
  gap: 10px;
}

.item-card {
  border-radius: 25px;
  max-width: 100%;
  background-color: #FFF;
  border-width: 1px;
  border-color: #EEEEEE;
  border-style: solid
}

.img-card {
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.card-description {
  position: relative;
}