.container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.content-column-left {
  background-color: #2B3841;
  height: 100vh;
}

.content-column-right {
  background-color: #F2F4F7;
}

.colum-left, .column-right  {
  align-self: center;
  margin: 5%;
  display: flex;
}

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #FFFFFF;
  height: 12%;
}

.content-table {
  margin: 5% 5% 0 5%;
}

.content-avatar {
  background-color: #93D8E7;
}

.content-menu {
  padding: 20% 0;
}

.bg-card {
  background-color: #FFFFFF;
  padding: 2%;
  max-height: 30%;
  height: 70vh;
  overflow: scroll;
}
