.button {
  width: 20%;
  background-color: #1A237E;
  border-radius: 15px;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #E8EAF6;
  cursor: pointer;
}

.button:hover {
  background-color: #3949AB;
}