.container-title {
  color: #ffff;
  font-size: 1.3rem;
  width: 100%;
  padding: 5% 0;
  text-align: center;
}

.container-avatar {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.content-description {
  align-self: center;
  margin: 5%;
}

.avatar {
  width: 8vh;
  margin: 25%;}