hr {
    border-top: 1px dashed #000;
}

.row-data {
    display: flex;
}

.row-data-key {
    margin-right: 22%;
    position: absolute;
    color: rgba(69,90,100,1);
}

.row-data-value {
    color: rgba(189,189,189,1)
}

.btn-add-info-clinic {
    background-color: #558b2f;
    color: #ffff;
    border: none;
    padding: 1.5%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  text-align: center;
}

td, th {
  text-align: left;
  
}
  
tr:nth-child(even) {
  border: 1px  solid #dddddd;
}

.td-icon {
  text-align: center;
  cursor: pointer;
}

.table .dot {
  height: 60px;
  width: 60px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8%;
}