.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#263238;
    z-index: 999;
    opacity: 0.5;
}


.loading-text {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    color: white;
    z-index: 9999999;
}