.col-social {
  margin-top: 2.5%;
  margin-bottom: 1.5%;
}

.footer {
  margin-top: -15px;
}

.footer li a {
  font-size: 15px;
  font-weight: 500;
}

.terms-cand-conditions {
  font-size: 12px;
  font-weight: 500;
  margin-top: -15px;
}

.year {
  font-size: 12px;
  font-weight: 500;
  margin-top: -10px;
}