* {
  margin: 0;
  padding: 0;
}

.btn-nav {
  padding: 0.5%;
}

.layer {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 83%;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
  position: absolute;

}

.layer-login {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
  color: rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: 49.5%;
  transform-origin: 50% 50%;
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
  position: absolute;
  display: flex;
}

.link-btn-login {
  background-color: #0d6efd;
  color: white;
  padding: 0.8%;
  text-decoration: none;
}

.p1-color {
  color: #ffffff;
  z-index: 99;
  text-align: center;
}

.row-online {
  margin-top: 18vh !important;
}

.text-m1 {
  margin: 0 0 5%;
  font-size: 5em;
  margin-top: 10%;
}

.row-online-login {
  margin-top: 30vh !important;
}

ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

li {
  display: inline;
  margin: 0 2% 0 0;
  font-size: 1.5rem;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

.container-layer-nav {
  z-index: 999999;
}

.navMovil {
  z-index: 999999;
}

.custom-text-header {
  color: white;
  text-align: center;
  border-color: white;
  position: fixed;
  height: 50%;
  margin-top: 9% !important;
}

.btn-custom {
  padding: 1.5vh;
}

.btn-online {
  color: #ffff;
  border-color: #ffff;
  width: 20%;
}

/* contactos */
.btn-send-email {
  display: flex;
  justify-content: flex-end;
}

.btn-large {
  width: 100%;
}


/* section consultas */
.btn-chat {
  width: 50%;
}

.bg-section-consultation {
  background-color: #F0F0F0;
}

.col-row-custom {
  margin: 5%;
  text-align: center;
  align-self: center;
}

.img-section-consultation {
  width: 50vh;
}

/* footer */

.bg-footer {
  background-color: black;
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-align: center;
}


.section-cards {
  margin: 5%;
}


.form {
  margin: 5% 20%;
}

.input-form {
  margin: 2%;
}


.h4-form {
  margin: 0 0 50px 18px;
}

/* page login */

.btn-large {
  width: 100%;
}

.space-group-m1 {
  margin: 5% 0;
}

.bg-col-right {
  background-color: #f9fafb;
}

.col-right {
  margin: 0 13% 10% 13%;
}

.bg-left-login {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-image: url('./assets/img/medical-05.jpg');
  height: 100vh;
  display: flex;
}

.btn-login-session {
  background-color: #0d6efd;
  color: white;
}


/* chat */
.img-avatar-chat {
  max-width: 100%;
}

.row-item-chat {
  padding: 5%;
}

.row-item-chat:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.item-text-chat {
  display: flex;
  align-items: center;
}

.col-section-items {
  margin-top: 30%;
}

.col-header {
  margin: 5%;
}

.header-menu {
  display: flex;
  margin: 0 5% 0 2%;
}

.close-btn-chat {
  display: flex;
  justify-content: flex-end;
  height: 30%;
}


.col-container-chats {
  background-color: #f6f6fc;
  height: 650px;
  overflow: scroll;
  padding: 11%;
}

iframe {
  display: none;
}

.bg-input-text {
  background-color: #f6f6fc;
}

.item-text-chat span {
  color: green;
}

/*/ https://www.uplabs.com/posts/free-react-material-register-page-sign-in-sketc*/