.container {
    flex-direction: row;
}

.viewMessage {
    border-radius: 10;
    min-height: "35%";
    min-width: "40%";
    max-width: "80%";
}

.viewMessage-1 {
    background-color: #f0f0f1;
    max-width: 35%;
    border-radius: 14px;
    padding: 3%;
    float: right;
    margin: 1.5%;

}


.viewMessage-2 {
    background-color: #4b86f0;
    max-width: 35%;
    border-radius: 14px;
    padding: 3%;
    float: left;
    margin: 1.5%;
    color: #ffff;
}

.time {
    font-size: 11px;
    float: right;
}

.container-1 {
    display: flex;
    justify-content: flex-end;
    margin: 2%;
}

.container-2 {
    display: flex;
    justify-content: flex-start;
    margin: 2%;
}

.container-img-chat {
    width: 100%;
}
